/* THANKS IE
:root {
    --primary-color-100: #004b9d;
    --primary-color-75: #0062b4;
    --primary-color-60: #006ec4;
    --secondary-color: #d30039;
}
*/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #d5ecff;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    padding: 1em 0;
    margin-bottom: 1em;
    background-color: #fff;
}

#header .container > * {
    display: inline-block;
}

#header .site--logo {
    height: 72px;
}

#header .site--title {
    vertical-align: top;
    padding-left: 8px;
    /* thanks IE */
    /*color: var(--primary-color-100);*/
    color: #004b9d;
}

#footer {
    margin-bottom: 1em;
    background-color: #0058a0;
    color: #fff;
}

/**
 * Propriétés
 */
.property--image {
    max-width: 100%;
}
.property--name,
.property--price {
    display: block;
}

.property--name {
    color: #d30039;
    font-size: 1.8rem;
}

.property--see-details {
    width: 100%
}

@media all and (max-width: 768px) {
}
