.bar-actions {
    margin: .5rem 0;
    padding: .5rem;
    /* thanks IE */
    /*background-color: var(--secondary-color);*/
    background-color: #d30039;
    color: #fff;
}

.bar-actions > * {
    vertical-align: -1em;
}
