.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: inline-block;
    padding: .3rem 1rem;

    /* thanks IE */
    /*background-color: var(--primary-color-60);*/
    background-color: #006ec4;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    /* thanks IE */
    /*background-color: var(--primary-color-75);*/
    background-color: #0062b4;
}

.button.active,
.button:focus,
.button:active {
    /* thanks IE */
    /*background-color: var(--primary-color-100);*/
    background-color: #004b9d;
}

.button-group .button {
    display: block;
    padding: .7em 0;
}
