/**
 * GRILLE
 */
.row {
    padding: 0;
    display: block;
    width: 100%;
}

.row .row {
    padding: 0 .25em;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row > * {
    float: left;
    vertical-align: top;
}

[class*="col-xs"],
[class*="col-md"] {
    position: relative;
    min-height: 1px;
}

[class*="col-xs"] > *,
[class*="col-md"] > * {
    max-width: 100%;
}

.col-xs-0 {
    width: 0;
}

.col-xs-1 {
    width: calc(100% / 12 * 1)
}

.col-xs-2 {
    width: calc(100% / 12 * 2)
}

.col-xs-3 {
    width: calc(100% / 12 * 3)
}

.col-xs-4 {
    width: calc(100% / 12 * 4)
}

.col-xs-5 {
    width: calc(100% / 12 * 5)
}

.col-xs-6 {
    width: calc(100% / 12 * 6)
}

.col-xs-7 {
    width: calc(100% / 12 * 7)
}

.col-xs-8 {
    width: calc(100% / 12 * 8)
}

.col-xs-9 {
    width: calc(100% / 12 * 9)
}

.col-xs-10 {
    width: calc(100% / 12 * 10)
}

.col-xs-11 {
    width: calc(100% / 12 * 11)
}

.col-xs-12 {
    width: calc(100% / 12 * 12)
}

@media (min-width: 768px) {

    .col-sm-0 {
        width: 0;
    }

    .col-sm-1 {
        width: calc(100% / 12 * 1)
    }

    .col-sm-2 {
        width: calc(100% / 12 * 2)
    }

    .col-sm-3 {
        width: calc(100% / 12 * 3)
    }

    .col-sm-4 {
        width: calc(100% / 12 * 4)
    }

    .col-sm-5 {
        width: calc(100% / 12 * 5)
    }

    .col-sm-6 {
        width: calc(100% / 12 * 6)
    }

    .col-sm-7 {
        width: calc(100% / 12 * 7)
    }

    .col-sm-8 {
        width: calc(100% / 12 * 8)
    }

    .col-sm-9 {
        width: calc(100% / 12 * 9)
    }

    .col-sm-10 {
        width: calc(100% / 12 * 10)
    }

    .col-sm-11 {
        width: calc(100% / 12 * 11)
    }

    .col-sm-12 {
        width: calc(100% / 12 * 12)
    }
}
